@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav class=" navbar navbar-light bg-white">
                <a class="navbar-brand">Birim Ekle</a>

                <button class="btn btn-success my-2 my-sm-0" type="button" data-target="#birimekle" data-toggle="modal">Ekle</button>
            </nav>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title py-1">Birim Listesi</h4>


            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="birimlistesi">
                    <thead class="text-info">
                        <tr>

                            <th class="font-weight-bold">
                                Birim Adı
                            </th>
                            <th class="font-weight-bold">
                                Açıklama
                            </th>
                            <th class="font-weight-bold">
                                Görüntüle
                            </th>
                            <th class="font-weight-bold">
                                Düzenle
                            </th>
                            <th class="font-weight-bold">
                                Sil
                            </th>
                        </tr>
                    </thead>
                    <tbody id="birimbody"></tbody>


                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="birimekle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">
                    Birim Ekle
                </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="birimadi" class="">Birim Adı: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white"><i class="mdi mdi-google-circles-communities"></i></span>
                        </div>
                        <input type="text" id="birimadi" name="Ad" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="aciklama" class="">Açıklama</label>
                    <textarea id="aciklama" name="Aciklama" class="form-control" placeholder="Açıklama giriniz" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="birimkaydet" name="birimkaydet" class="btn btn-success">Kaydet</button>
                <button type="button" id="kapat" name="kapat" class="btn btn-info" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="birimgoruntule">
    <div class="modal-dialog modal-dialog-centered" style="">
        <div class="modal-content" style="">
            <div class="modal-header bg-light">
                <h5 class="modal-title">Birim Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="form-group">
                        <label for="birimadi">Birim Adı</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white"><i class="mdi mdi-google-circles-communities"></i></span>
                            </div>
                            <input type="text" id="birimadi1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birimaciklama">Açıklama</label>
                        <textarea class="form-control" id="birimaciklama"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="duzenlekaydet" class="btn btn-success" hidden>Kaydet</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script>
    var birimlistesi;
    var id;
    var birimlistesicek = function () {
        birimlistesi = $('#birimlistesi').DataTable({
            "ordering": false,
            "ajax": {
                url: "/Birim/BirimleriCek",
                responsive: true,
                type: "GET",
                "dataSrc": function (data) {
                    var return_data = new Array();
                    $.each(data, function (id, obj) {
                        return_data.push({
                            'birimadi': obj.ad,
                            'aciklama': obj.aciklama,
                            'goruntule': '<div class="text-center "><button class="btn btn-success goruntule" id="' + obj.id + '" type="button" data-toggle= "modal" data-target = "#birimgoruntule"><span class="mdi mdi-eye text-white"></span> Görüntüle</button></div>',
                            'duzenle': '<div class="text-center "><button class="btn btn-info duzenle" id="' + obj.id + '" type="button" data-toggle= "modal" data-target = "#birimgoruntule"><span class="mdi mdi-pencil text-white"></span> Düzenle</button></div>',
                            'sil': '<div class="text-center "><button class="btn btn-danger sil" id="' + obj.id + '" type="button" data-toggle= "modal" data-target = ""><span class="mdi mdi-eraser text-white"></span> Sil</button></div>'
                        });
                    });

                    return return_data;
                }
            },
            "columns": [
                {
                    "data": "birimadi"
                },
                { "data": "aciklama" },
                { "data": "goruntule", "width": "10%" },
                { "data": "duzenle", "width": "10%" },
                { "data": "sil", "width": "10%" }

            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }



        });


    }
    var birimcek = function (ids) {
        return $.ajax({
            url: '/Birim/Goruntule',
            type: 'GET',
            dataType: 'json',
            data: { id: ids },
            success: function (data) {
                $('#birimadi1').val(data.ad);
                $('#birimaciklama').html(data.aciklama);
            }

        });
    }

    $(function () {


        birimlistesicek();
        var kontrol = (ad, aciklama) => {
            if (ad == '') {
                Swal.mixin({
                    toast: 'true',
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }).fire({
                    type: 'warning',
                    title: 'Birim adı girilmedi.'
                });

                return false;
            } else if (aciklama == '') {
                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }).fire({
                    type: 'warning',
                    title: 'Açıklama girilmedi.'
                });
                return false;
            }
            return true;
        }

        var kaydetCheck = () => {
            var ad = $('#birimadi').val();
            var aciklama = $('#aciklama').val();

            return kontrol(ad, aciklama);
        }

        var duzenleCheck = () => {

            const ad = $('#birimadi1').val();
            const aciklama = $('#birimaciklama').val();

            return kontrol(ad, aciklama);
        }

        $('#birimkaydet').click(function () {

            var ad = $('#birimadi').val();
            var aciklama = $('#aciklama').val();
            if (kaydetCheck()) {
                $.ajax({
                    url: '/Birim/Ekle',
                    type: 'POST',
                    dataType: 'json',
                    data: { Ad: ad, Aciklama: aciklama },
                    success: function (data) {
                        Swal.fire('Başarılı', 'Birim başarıyla eklendi.', 'success');
                        birimlistesi.destroy();
                        birimlistesicek();
                        $('#birimekle').modal('hide');
                        $('#birimadi').val('');
                        $('#aciklama').val('');
                    },
                    error: function (data) {
                        Swal.fire('Ooops..', 'Eklenirken bir sorunla karşılaşıldı.', 'error');
                    }
                });
            }
        });

        $(document).on('click', '.goruntule', function () {
            id = this.id;
            $('#birimaciklama').prop('disabled', true);
            $('#birimadi1').prop('disabled', true);
            $('#duzenlekaydet').prop('hidden', true);
            birimcek(id);


        });

        $(document).on('click', '.duzenle', function () {
            id = this.id;
            $('#birimaciklama').prop('disabled', false);
            $('#birimadi1').prop('disabled', false);
            $('#duzenlekaydet').prop('hidden', false);
            birimcek(id);

        });

        $(document).on('click', '.sil', function () {
            id = this.id;
            Swal.fire({
                title: "Gerçekten silmek istiyor musunuz?",
                html: "Bu birimi silerseniz <strong class='h5'>Birim Koordinatörleri ve Stajyerler arasındaki bağı da silmiş olursunuz</strong>, onaylıyor musunuz?",
                type: "error",
                confirmButtonText:
                    '<i class="mdi mdi-eraser"></i> Sil',
                confirmButtonColor: '#dc3545',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonText: '<i class="mdi mdi-close-circle"></i> Kapat'
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        url: "/Birim/Sil",
                        data: { id: id },
                        type: "DELETE",
                        dataType: "json",
                        success: function (data) {
                            Swal.fire('Silindi', 'Birim başarıyla silindi. <b>Koordinatör ve Stajyerler arasındaki bağlantıyı kontrol etmeyi unutmayın!</b>', 'success');
                            birimlistesi.destroy();
                            birimlistesicek();
                        },
                        error: function (data) {
                            Swal.fire('Silinemedi', 'Silinirken bir sorun oluştu, Lütfen tekrar deneyin!', 'error');
                        }
                    });

                }

            });
        });

        $('#duzenlekaydet').click(function () {

            var model = {
                id: id,
                Ad: $('#birimadi1').val(),
                Aciklama: $('#birimaciklama').val()
            }
            if (duzenleCheck()) {
                $.ajax({
                    url: '/Birim/Duzenle',
                    data: { birim: model, id: id },
                    dataType: "json",
                    type: 'POST',
                    success: function (data) {
                        Swal.fire('Başarılı', 'Başarıyla güncellendi.', 'success');
                        birimlistesi.destroy();
                        birimlistesicek();
                        $('#birimgoruntule').modal('hide');
                    },
                    error: function (data) {
                        Swal.fire('Oopss..', 'Güncellenirken bir sorunla karşılaşıldı.', 'error');
                    }
                });
            }
        });


    });
</script>

