@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <html>

    <head>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/all.css" rel="stylesheet">
        <link href="css/vendor.bundle.addons.css" rel="stylesheet">
        <link href="css/vendor.bundle.base.css" rel="stylesheet">
        <link href="css/materialdesignicons.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <form>

                <div class="form-group">

                    <div class="form-group ">
                        <label for="birimadi">Birim Adı: </label>
                        <input type="text" class="form-control" id="birimadi" name="Ad" placeholder="Birim Adı">
                    </div>


                    <div class="form-group ">
                        <label for="acıklama">Açıklama: </label>
                        <textarea class="form-control" id="acıklama" name="Aciklama" placeholder="Açıklama"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>

            </form>

        </div>
    </body>

    </html>