@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <html>


    <head>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/all.css" rel="stylesheet">
        <link href="css/vendor.bundle.addons.css" rel="stylesheet">
        <link href="css/vendor.bundle.base.css" rel="stylesheet">
        <link href="css/materialdesignicons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

    <body>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Devamsızlık</h4>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Fotoğraf
                                    </th>
                                    <th>
                                        Adı Soyadı
                                    </th>
                                    <th>
                                        Devamsızlık
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-1.png" alt="image" />
                                    </td>
                                    <td>
                                        Herman Beck
                                    </td>
                                    <td>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Ekle</button>
                                        </div>
                                    </td>


                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-2.png" alt="image" />
                                    </td>
                                    <td>
                                        Messsy Adam
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Ekle</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-3.png" alt="image" />
                                    </td>
                                    <td>
                                        John Richards
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Ekle</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>