@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <html>

  

    <head>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/all.css" rel="stylesheet">
        <link href="css/vendor.bundle.addons.css" rel="stylesheet">
        <link href="css/vendor.bundle.base.css" rel="stylesheet">
        <link href="css/materialdesignicons.css" rel="stylesheet">
    </head>

    <body>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Proje Bilgileri</h4>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        Proje Adı
                                    </th>
                                    <th>
                                        Proje Detayları
                                    </th>
                                    <th>
                                        Proje Durumu
                                    </th>
                                    <th>
                                        Link
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        Herman Beck
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>

                                        <a class="nav-link" href="#">Link</a>

                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Düzenle</button>

                                            <button type="button" class="btn btn-danger">Sil</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        Messsy Adam
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <a class="nav-link" href="#">Link</a>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Düzenle</button>

                                            <button type="button" class="btn btn-danger">Sil</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <td>
                                        John Richards
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <a class="nav-link" href="#">Link</a>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Düzenle</button>

                                            <button type="button" class="btn btn-danger">Sil</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

  </html>