@model List<Duyuru>

<h4 class="text-muted pt-2 pb-1 px-3">Son 5 Duyuru</h4>
@foreach (var duyuru in Model)
{
    <a href="~/Duyuru/Goruntule/@duyuru.ID" class="link border-top">
        <div class="d-flex no-block align-items-center p-10">
            <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
            <div class="m-l-10">
                <h5 class="m-b-0">@duyuru.Baslik</h5>
                <span class="mail-desc">@duyuru.Icerik.Substring(0, Math.Min(20, duyuru.Icerik.Length))</span>
            </div>
        </div>
    </a>
}

