<!DOCTYPE html5>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] | Staj Takip Otomasyonu</title>

    <!-- CSS Importlari Başlangıç-->
    <link rel="stylesheet" href="~/css/style.css" /> <!-- Style Css Özelleştirilmiş Bootstrap CSS-->
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/css/vendor.bundle.addons.css" />
    <link rel="stylesheet" href="~/css/mdi/css/materialdesignicons.css" />
    <!-- CSS Importlari Bitiş-->

</head>

<body>
    <!-- Ana Container -->
    <div class="container-scroller">
        <!-- Navbar Render -->
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <!-- Navbar Render Bitiş -->
        <!-- Sayfa Body -->
        <div class="container-fluid page-body-wrapper">
            <!-- Sidebar Render -->
            @{
                await Html.RenderPartialAsync("_Sidebar");
            }
            <!-- Sidebar Render Bitiş-->
            <!-- Main Panel -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Controllerdan gelen view -->
                    @RenderBody()
                    <!-- Controllerdan gelen view bitiş-->
                </div>
                <!--Footer Render-->
                @{
                    await Html.RenderPartialAsync("_Footer");
                }
                <!-- Footer Render Bitiş-->
            </div>
            <!-- Main Panel Bitiş -->
        </div>
        <!-- Sayfa Body Bitiş -->
    </div>
    <!-- Ana Container Bitiş-->
</body>

</html>