<!DOCTYPE html5>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] | Staj Takip Otomasyonu</title>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CSS Importlari Başlangıç-->
    <link rel="stylesheet" href="~/css/style.css" /> <!-- Style Css Özelleştirilmiş Bootstrap CSS-->
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/css/vendor.bundle.addons.css" />
    <link rel="stylesheet" href="~/css/mdi/css/materialdesignicons.css" />

    <!-- CSS Importlari Bitiş-->

</head>

<body>
    <!-- Ana Container -->
    <div class="container-scroller">
        <!-- Navbar Render -->
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <!-- Navbar Render Bitiş -->
        <!-- Sayfa Body -->
        <div class="container-fluid page-body-wrapper">
            <!-- Sidebar Render -->
            @{
                await Html.RenderPartialAsync("_Sidebar");
            }
            <!-- Sidebar Render Bitiş-->
            <!-- Main Panel -->
            <div class="main-panel">
                <div class="content-wrapper btn-">
                    <!-- Controllerdan gelen view -->
                    @RenderBody()
                    <!-- Controllerdan gelen view bitiş-->
                </div>
                <!--Footer Render-->
                @{
                    await Html.RenderPartialAsync("_Footer");
                }
                <!-- Footer Render Bitiş-->
            </div>
            <!-- Main Panel Bitiş -->
        </div>
        <!-- Sayfa Body Bitiş -->
    </div>
    <!-- Ana Container Bitiş-->
</body>

</html>