
<style>
    .custom-background {
        background-color: #333042 !important;
    }
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-right sticky-top custom-background">

    <a class="navbar-brand" href="#">Staj Takip Otomasyonu</a>
    <button type="button" data-target="#sidebar" class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"><span class="navbar-toggler-icon"></span></button>

    

</nav>