

<style>
    .sidebar1{
        width:255px;
        border-right:1px dotted #808080;
        
        height:calc(100vh);
        padding:0;
    }
</style>

<nav class="sidebar1 bg-dark-custom navbar-dark text-white">
    <ul class="nav">
         <li class="nav-item nav-profile mx-auto">
             <img class="" src="~/images/akdeniz-logo.png" width="" />
         </li>
    </ul>
</nav>