@using Microsoft.AspNetCore.Http
<style>
    .sidebar1 {
        width: 255px;
        border-right: 1px dotted #808080;
        height: calc(100vh);
        padding: 0;
    }
</style>
@{
    var yetki = Context.Session.GetInt32("yetki");
    var profilid = Context.Session.GetInt32("profilid");
    var kadi = Context.Session.GetString("kadi");
    var id = Context.Session.GetInt32("id");
}
<nav class="sidebar sidebar-offcanvas bg-dark-custom navbar-dark text-white" style="position:fixed;" data-toggle="collapse" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile mx-auto">
            <img class="mt-3" src="~/images/akdeniz-logo.png" width="200em;" />
        </li>

        @if (yetki == 1)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sistemyoneticisimenu" aria-expanded="false" aria-controls="sistemyoneticisimenu">
                    <i class="menu-icon mdi mdi-book"></i>
                    <span class="menu-title">Sistem Yöneticisi</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="sistemyoneticisimenu">
                    <ul class="nav flex-column sub-menu">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Bilgilerimi Görüntüle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bilgilerimi Düzenle</a>
                        </li>
                    </ul>

                </div>
            </li>
        }
        @if (yetki == 2 || yetki == 1)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#moderatormenu" aria-expanded="false" aria-controls="moderatormenu">
                    <i class="menu-icon mdi mdi-book"></i>
                    <span class="menu-title">Moderator</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="moderatormenu">
                    <ul class="nav flex-column sub-menu">
                        @if (yetki == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Moderator/Ekle">Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Yönet</a>
                            </li>
                        }
                        @if (yetki == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bilgilerimi Görüntüle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Moderator/Duzenle">Bilgilerimi Düzenle</a>
                            </li>
                        }
                    </ul>

                </div>
            </li>
        }
        @if (yetki == 3 || yetki == 2 || yetki == 2)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#birimkoordinatorumenu" aria-expanded="false" aria-controls="birimkoordinatorumenu">
                    <i class="menu-icon mdi mdi-book"></i>
                    <span class="menu-title">Birim Koordinatoru</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="birimkoordinatorumenu">
                    <ul class="nav flex-column sub-menu">
                        @if (yetki != 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/BirimKoordinatoru/Ekle">Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Yönet</a>
                            </li>
                        }
                        @if (yetki == 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bilgilerimi Görüntüle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/BirimKoordinatoru/Duzenle">Bilgilerimi Düzenle</a>
                            </li>
                        }
                    </ul>

                </div>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#stajyermenu" aria-expanded="false" aria-controls="stajyermenu">
                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">Stajyer</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="stajyermenu" style="">
                <ul class="nav flex-column sub-menu">
                    @if (yetki != 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Stajyer/Ekle">Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Stajyer/Listele">Yönet</a>
                        </li>
                    }
                    @if (yetki == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bilgilerimi Görüntüle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Stajyer/Duzenle">Bilgilerimi Düzenle</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#gunlukmenu" aria-expanded="false" aria-controls="gunlukmenu">
                <i class="menu-icon mdi mdi-book"></i>
                <span class="menu-title">Günlük</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="gunlukmenu">
                <ul class="nav flex-column sub-menu">
                    @if (yetki == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Gunluk/Ekle">Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Gunluk/Listele">Görüntüle</a>
                        </li>
                    }
                    @if (yetki != 4)
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="#">Yönet</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#devamsizlikmenu" aria-expanded="false" aria-controls="devamsizlikmenu">
                <i class="menu-icon mdi mdi-book"></i>
                <span class="menu-title">Devamsızlık</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="devamsizlikmenu">
                <ul class="nav flex-column sub-menu">
                    @if (yetki != 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Devamsizlik/Ekle">Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yönet</a>
                        </li>
                    }
                    @if (yetki == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Devamsizlik/Goruntule/@id">Görüntüle</a>
                        </li>
                    }
                </ul>

            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#projemenu" aria-expanded="false" aria-controls="projemenu">
                <i class="menu-icon mdi mdi-book"></i>
                <span class="menu-title">Proje</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="projemenu">
                <ul class="nav flex-column sub-menu">
                    @if (yetki != 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Proje/Ekle">Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yönet</a>
                        </li>
                    }
                    @if (yetki == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Görüntüle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Proje Durumu Ekle</a>
                        </li>
                    }
                </ul>
            </div>
        </li>

        @if (yetki != 4)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#birimmenu" aria-expanded="false" aria-controls="birimmenu">
                    <i class="menu-icon mdi mdi-book"></i>
                    <span class="menu-title">Birim</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="birimmenu">
                    <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Birim/Ekle">Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Yönet</a>
                            </li>
                      
                    </ul>

                </div>
            </li>
        }
    </ul>
</nav>