
@{
    ViewData["Title"] = "Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .deneme{
        background-color:red;
        width:100%;
        height:100vh;
    }

    .xyz{
        top:50%;
        background-color:blue;
        position:relative;
        margin: 0 auto;
        width:700px !important;
        height:50px;
    }

    .modal1 {
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed; /* Stay in place */
    }
</style>

<div class="deneme">
    <div class="xyz">
    <button id="btn" data-target="" data-toggle=""></button>
        <div class="modal1" id="modal1">
            <div class="modal-dialog1">
                <div class="modal-content1">
                    <div class="modal-body">
                        ss
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

