.bg-dark-custom {
    background-color: #303442 !important;
}

    .bg-dark-custom .nav-link {
        color: #fff !important;
    }

        .bg-dark-custom .nav-link:hover {
            background-color: #808080 !important;
        }
