@model List<Proje>
@{
    ViewData["Title"] = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form>
        <div class="form-group">
            <label for="projeadi">Proje Adı</label>
            <input type="text" class="form-control" id="projeadi" placeholder="Proje Adı" disabled>
        </div>

        <div class="form-group">
            <label for="projeaciklamasi">Proje Açıklaması</label>
            <textarea class="form-control" id="projeaciklamasi" placeholder="Proje Açıklaması" rows="3" disabled></textarea>
        </div>

        <div class="form-group">
            <label for="kullanilacakteknolojiler">Kullanılacak Teknolojiler:</label>
            <select multiple class="form-control" id="kullanilacakteknolojiler">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="tarih">Proje Başlangıç: </label>
                    <div class="form-group">
                        <div class='input-group date' id='tarih'>
                            <input type='date' class="form-control" disabled />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="tarih">Proje Bitiş: </label>
                    <div class="form-group">
                        <div class='input-group date' id='tarih'>
                            <input type='date' class="form-control" disabled />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            <label for="url">Proje Bağlantısı</label>
            <input type="url" class="form-control" id="url" placeholder="url" disabled>
      



    </form>

</div>