@model Stajyer
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form method="post">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">



                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Fotoğraf
                                        </th>
                                        <th>
                                            Ad Soyad
                                        </th>
                                        <th>
                                            Tarih
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-2 -px-4">
                                            <img src="~/images/man.png" alt="image" class="img-rounded img-profile" width="36" />
                                        </td>
                                        <td name="">
                                            @Model.Profil.Ad @Model.Profil.Soyad
                                        </td>
                                        <td>
                                            <div class='form-group col-sm-8 '>


                                                <div class="input-group date" id="datetimepicker5">
                                                    <input type="date" class="form-control" name="Tarih" />
                                                   
                                                    <span class="input-group-addon">
                                                        <span class="mdi mdi-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>

                                        </td>
                                        <td>

                                            <button type="submit" class="btn btn-success">Ekle</button>
                                            <a href="/Devamsizlik/Listele"  class="btn btn-primary">İptal</a>


                                        </td>

                                    </tr>
                                    <tr></tr>
                                    <tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </form>

