@model List<Stajyer>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stajyer Bilgileri</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Fotoğraf
                            </th>
                            <th>
                                Adı Soyadı
                            </th>
                            <th>
                                Devamsızlık
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td class="py-2 px-4">
                                        <img src="~/images/man.png" alt="image" class="img-rounded img-profile" width="36"/>
                                    </td>
                                    <td>
                                        @i.Profil.Ad @i.Profil.Soyad
                                    </td>
                                    <td>
                                        <a href="~/Devamsizlik/Ekle/@i.ID" class="btn btn-sm btn-success">Ekle</a>
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


