@model List<Stajyer>
@{
    ViewData["Title"] = "Yonet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stajyer Bilgileri</h4>

            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="kisilertablosu">
                    <thead class="text-info">
                        <tr>
                            <th class="font-weight-bold">
                                Fotoğraf
                            </th>
                            <th class="font-weight-bold">
                                Adı Soyadı
                            </th>
                            <th class="font-weight-bold">
                                Toplam Devamsızlık
                            </th>
                            <th class="font-weight-bold">
                                Ekle
                            </th>
                            <th class="font-weight-bold">
                                Düzenle
                            </th>
                            <th class="font-weight-bold">
                                Görüntüle
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal " id="devamsizlikduzenle">
    <div class="modal-dialog " style="">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title row pl-2"><div id="kisiadi">Devamsızlık Düzenle</div></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="container-fluid mt-1">
                    <div class="table-responsive">
                        <table class="table table-striped " id="devamsizliktablosu" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tarih</th>
                                    <th>Düzenle</th>
                                </tr>
                            </thead>
                            <tbody id="devamsizliklistesi"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="devamsizlikekle">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header bg-light ">
                <h4 class="modal-title">Devamsızlık Ekle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div id="usericon" hidden>
                    <span class="mdi mdi-18px mdi-account"></span>
                </div>
                <div class="pl-1 py-3  mb-2 font-18 font-bold" id="veri">
                </div>
                <div class="form-group">

                    <div class="input-group date" id="datetimepicker5">

                        <input type="date" class="form-control form-control-lg datepicker" name="Tarih" id="dtarih" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnKaydet" class="btn btn-success btn-lg">Kaydet</button>
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id;
    var tmpid;
    $(function () {
        var kisiler;
        var devamsizliklar;
        var kisilericek = () => {
            kisiler = $('#kisilertablosu').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                },
                responsive: true,
                "ajax": {
                    url: '/Devamsizlik/KisileriCek',
                    type: 'POST',
                    "dataSrc": function (data) {
                        var return_data = new Array();

                        $.each(data, function (id, obj) {
                            return_data.push({
                                'foto': '<div class="text-center"><img src="/' + obj.profil.fotograf + '" alt="image" draggable="false" class="rounded-circle" style="border:2px solid #808080; " width="48" /></div>',
                                'adsoyad': obj.profil.ad + " " + obj.profil.soyad,
                                'devamsizlik': Object.keys(obj.devamsizliklar).length.toString(),
                                'ekle': '<div class="text-center"><button type="button" data-toggle="modal" data-target="#devamsizlikekle" id="' + obj.id + '" class="btn btn-success devekle"><i class="mdi mdi-calendar-plus"></i> Ekle</button></div>',
                                'duzenle': '<div class="text-center"><button type="button" class="btn btn-info devduzenle" data-toggle="modal" data-target="#devamsizlikduzenle" id="' + obj.id + '"><i class="mdi mdi-pencil"></i> Düzenle</button></div>',
                                'goruntule': '<div class="text-center"><a href="/Devamsizlik/Goruntule/' + obj.id + '" class="btn btn-success"><span class="mdi mdi-eye text-white"></span> Görüntüle</a></div>'
                            });
                        });
                        return return_data;
                    }
                },
                "columns": [
                    { "data": "foto", "width": "5%", "class": "border-right-secondary" },
                    { "data": "adsoyad" },
                    { "data": "devamsizlik" },
                    { "data": "ekle", "width": "5%" },
                    { "data": "duzenle", "width": "5%" },
                    { "data": "goruntule", "width": "5%" }

                ]

            });
        }
        kisilericek();

        var devamsizliklaricek = (id) => {
            devamsizliklar = $('#devamsizliktablosu').DataTable({
                destroy: true,
                responsive: true,
                pagingType:'simple',
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                },
                "ajax": {
                    url: '/Devamsizlik/Devamsizliklar',
                    data: { id: id },
                    type: "POST",
                    "dataSrc": function (data) {
                        var return_data = new Array();
                        var no = 0;
                        $.each(data, function (idx, obj) {
                            var parts = obj.tarih.split('-');
                            return_data.push({
                                "no": no++,
                                "tarih": parts[2].substr(0, 2) + "/" + parts[1] + "/" + parts[0],
                                "duzenle": '<button type="button" class="btn btn-danger devsil" id="' + obj.id + '">Sil</button>'
                            });
                        });
                        return return_data;
                    }
                },
                "columns": [
                    { "data": "no" },
                    { "data": "tarih" },
                    { "data": "duzenle" }
                ]
            });
        }

        $(document).on('click', '.devekle', function () {
            id = this.id;

            $.ajax({
                url: '/Devamsizlik/AdSoyadCek',
                data: { id: id },
                type: "GET",
                dataType: "text",
                success: function (data) {
                    $('#veri').html(data);
                }
            });
        });

        $(document).on('click', '#btnKaydet', function () {

            var tarih = $('#dtarih').val();
            if (tarih == '') {
                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }).fire({
                    type: 'warning',
                    title: 'Tarih girilmedi.'
                });
                return false;
            }

            $.ajax({
                url: '/Devamsizlik/Ekle',
                data: { id: id, model: { tarih: tarih } },
                type: "POST",
                success: function () {
                    kisiler.destroy();
                    kisilericek();
                    $('#devamsizlikekle').modal('hide');
                    Swal.fire('Başarılı', 'Devamsızlık Başarıyla eklendi.', 'success');
                },
                error: function () {
                    Swal.fire('Oops..', 'Eklenirken bir sorunla karşılaşıldı..', 'error');
                }
            });


        });


        $(document).on('click', '.devduzenle', function () {
            id = this.id;
            tmpid = this.id;
            $.ajax({
                url: '/Devamsizlik/AdSoyadCek',
                data: { id: id },
                dataType: "text",
                success: function (data) {
                    $('#kisiadi').html(data);
                }
            });
            devamsizliklaricek(id);
        });

        $(document).on('click', '.devsil', function () {
            id = this.id;
            Swal.fire({
                title: 'Gerçekten silmek istiyor musunuz?',
                html: '<b> Devamsizlik silinecek, onaylıyor musunuz?</b>',
                type: "question",
                showConfirmButton: true,
                confirmButtonText: '<i class="mdi mdi-eraser text-white"></i> Sil',
                showCancelButton: true,
                cancelButtonText: '<i class="mdi mdi-close-circle"></i> Kapat'
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '/Devamsizlik/Sil',
                        data: { id: id },
                        dataType: 'json',
                        type: 'POST',
                        success: function (data) {
                            devamsizliklar.destroy();
                            devamsizliklaricek(tmpid);
                            kisiler.destroy();
                            kisilericek();
                            Swal.fire('Başarılı', 'Başarıyla silindi.', 'success');
                        },
                        error: function (data) {
                            Swal.fire('Oopss..', 'Silinemedi, lütfen tekrar deneyin.', 'error');
                        }
                    });
                }
            });
        });
    });
</script>
