
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
</body>
</html>


<script>
    $(function () {
       
        $.ajax({
            url: '/Home/VeriCek1',
            method: 'GET',
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>