@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Staj Takip Sistemi</h4>
        <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row ">
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <a class="card card-hover" href="~/Home/Index">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                <h6 class="text-white">Dashboard</h6>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <a class="card card-hover" href="~/Stajyer/Listele">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-account"></i></h1>
                <h6 class="text-white">Stajyer</h6>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <a class="card card-hover" href="~/Gunluk/Yonet">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                <h6 class="text-white">Günlük</h6>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <a class="card card-hover" href="~/Devamsizlik/Yonet">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">Devamsızlık</h6>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title m-b-0">Duyurular</h4>
            </div>
            <ul class="list-style-none">
                @foreach (var duyuru in ((List<Duyuru>)ViewBag.Duyurular).Take(7))
                {
                    <li class="d-flex no-block card-body">
                        <i class="fa fa-check-circle w-30px m-t-5"></i>
                        <div>
                            <a href="~/Duyuru/Goruntule/@duyuru.ID" class="m-b-0 font-medium p-0">@duyuru.Baslik</a>
                            <span class="text-muted">@duyuru.Icerik.Substring(0,Math.Min(duyuru.Icerik.Length,20))</span>
                        </div>
                        <div class="ml-auto">
                            <div class="tetx-right">
                                <h5 class="text-muted m-b-0">@duyuru.GuncellenmeTarihi.Date.Day day</h5>
                                <span class="text-muted font-16">@duyuru.GuncellenmeTarihi.Date.Month month</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
