    @model Gunluk
@{
    ViewData["Title"] = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http

@{
    var yetki = Context.Session.GetInt32("yetki");
    var profilid = Context.Session.GetInt32("profilid");
    var kadi = Context.Session.GetString("kadi");
    var id = Context.Session.GetInt32("id");
}

<div class="col-md-10 offset-1 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Günlük Bilgileri</h4>

            <form>

                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label for="baslik">Başlık: </label>
                            <input type="text" class="form-control" id="baslik" name="baslik" disabled value="@Model.Baslik">

                        </div>


                        <div class="form-group col-sm-4">
                            <label for="tarih">Tarih: </label>
                            <div class="form-group">
                                <div class='input-group date' id='tarih'>
                                    <input type='date' class="form-control" disabled value="@Model.Tarih.ToString("yyyy-MM-dd")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="icerik">İçerik: </label>
                    <textarea class="form-control" id="icerik" disabled>@Model.Bilgiler</textarea>
                </div>

                <div class="" id="veriler">
                    @{
                        await Html.RenderPartialAsync("_GunlukDurumu", Model);
                    }
                </div>

            </form>

        </div>
    </div>
</div>
<div class="modal" id="duzenle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Lütfen seçiminizi yapın</h4><button type="button" data-dismiss="modal" class="close">&times;</button></div>
            <div class="modal-body text-center">
                <a class="btn btn-success text-white" id="btnOnayla">Onayla</a>
                <a class="btn btn-danger text-white" id="btnReddet">Reddet</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
