@model List<Gunluk>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-circle {
        border-radius: 50%;
    }

        .btn-circle:hover {
            border-radius: 5%;
            width: 140px;
        }

    .well {
        background-color: rgba(245, 245, 245, 0.4);
    }
</style>
@using Microsoft.AspNetCore.Http

@{
    var yetki = Context.Session.GetInt32("yetki");
    var profilid = Context.Session.GetInt32("profilid");
    var kadi = Context.Session.GetString("kadi");
    var id = Context.Session.GetInt32("id");
}

@if (yetki == 4)
{
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav class=" navbar navbar-light bg-white">
                    <a class="navbar-brand">Günlük Ekle</a>
                    <a href="~/Gunluk/Ekle" class="btn btn-success my-2 my-sm-0" type="submit">Ekle</a>
                </nav>
            </div>
        </div>
    </div>
}

    <div class="container">
        <div class="card border-bottom-0">
            <div class="row no-gutters px-4 py-2 pt-3">
                <div class="col-auto ">
                    <img src="~/images/man-200x200.png" class="img-fluid rounded-circle" alt="" width="48">
                </div>
                <div class="col">
                    <div class="card-block px-2 pl-3">
                        <h6 class="card-title">Git hesapları açıldı.</h6>

                        <div class="card-subtitle text-muted">27 Haziran 2019</div>
                        <p class="card-text mt-2 pb-2">
                            Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted bg-white border-top-0">
                <span class="float-right text-success"><i class="fa fa-check-circle"></i> Onaylandı</span>
            </div>
        </div>
        <div class="card border-bottom-0">
            <div class="row no-gutters px-4 py-2 pt-3">
                <div class="col-auto ">
                    <img src="1.png" class="img-fluid rounded-circle" alt="" width="48">
                </div>
                <div class="col">
                    <div class="card-block px-2 pl-3">
                        <h6 class="card-title">Git hesapları açıldı.</h6>

                        <div class="card-subtitle text-muted">27 Haziran 2019</div>
                        <p class="card-text mt-2 pb-2">
                            Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları açıldı.Git hesapları
                            açıldı.Git hesapları açıldı.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted bg-white border-top-0">
                <span class="float-right text-muted"><i class="fa fa-history"></i> Beklemede</span>
            </div>
        </div>
        <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $(document).on('mouseenter', '.btn-circle', function () {
            if ($(this).hasClass('btn-outline-success')) {
                $(this).html('<i class="fa fa-check"></i> Onayla');
            } else if ($(this).hasClass('btn-outline-danger')) {
                $(this).html('<i class="fa fa-times"></i> Reddet');
            }
        });

        $(document).on('mouseleave', '.btn-circle', function () {
            if ($(this).hasClass('btn-outline-success'))
                $(this).html('<i class="fa fa-check"></i>');
            else if ($(this).hasClass('btn-outline-danger')) {
                $(this).html('<i class="fa fa-times"></i>')
            }
        });

        $(document).on('mouseenter', '.card', function () {
            $(this).addClass('well');
        });

        $(document).on('mouseleave', '.card', function () {
            $(this).removeClass('well');

        });
    })
        </script>
