@page
@model StajyerTakip.Views.Login.IndexModel
@{
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">         //Ana giriş ekranı, 3 seçenek yönetici,öğrenci ve sorumlu
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../Stajyer Giriş Ekranı/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../Stajyer Giriş Ekranı/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="../Stajyer Giriş Ekranı/akdeniz-universitesi-logo-B017290F9B-seeklogo.com.png" alt="" width="229" height="230">
        <h1 class="h6 my-3 font-weight-normal">Stajyer Öğrenci Takip Otomasyonu</h1>

        <button class="btn btn-lg btn-block" style="background-color:#FF9535" type="submit">Yönetici</button>

        <button class="btn btn-lg btn-block" style="background-color:#FF9535" type="submit">Stajyer</button>

        <button class="btn btn-lg btn-block" style="background-color:#FF9535" type="submit">Program Sorumlusu</button>
        <p class="mt-5 mb-3 text-muted">&copy; Akdeniz Üniversitesi Teknoloji Enstitüsü</p>
    </form>
</body>
</html>




<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    //Ana giriş ekranından sonraki login ekranı, mail şifre ve giriş yap.
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="akdeniz-universitesi-logo-B017290F9B-seeklogo.com.png" alt="" width="229" height="230">
        <h1 class="h5 my-3 font-weight-normal">Lütfen Bilgilerinizi Giriniz</h1>
        <label for="inputEmail" class="sr-only">Mail Adresi</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Mail Adresi" required autofocus>
        <label for="inputPassword" class="sr-only">Şifre</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Şifre" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Beni Hatırla
            </label>
        </div>
        <button class="btn btn-lg btn-block" style="background-color:#FF9535" type="submit">Giriş Yap</button>
        <p class="mt-5 mb-3 text-muted">&copy; Akdeniz Üniversitesi Teknoloji Enstitüsü</p>
    </form>
</body>
</html>
