
@{
    ViewData["Title"] = "AuthProblem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">Problem</div>
    <div class="card-body"><h2>Bu sayfaya girmek için yetkiniz yok!</h2></div>
</div>

