@model List<BirimKoordinatoru>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav class=" navbar navbar-light bg-white">
                    <a class="navbar-brand">Birim Koordinatörü Ekle</a>
                    <a href="~/BirimKoordinatoru/Ekle" class="btn btn-success my-2 my-sm-0" type="submit">Ekle</a>
                </nav>
            </div>
        </div>
    </div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Birim Koordinatörleri</h4>


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>
                                Ad Soyad
                            </th>
                            <th>
                                Bilgileri
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>


                                    <td>
                                        @i.Profil.Ad @i.Profil.Soyad
                                    </td>
                                    <td>

                                        <a href="~/BirimKoordinatoru/Goruntule/@i.ID"class="btn btn-sm btn-success">Görüntüle</a>
                                    </td>
                                    <td>
                                        
                                            <a href="~/BirimKoordinatoru/Duzenle/@i.ID" class="btn btn-primary">Duzenle</a>
                                            <a href="~/BirimKoordinatoru/Sil/@i.ID" class="btn btn-danger">Sil</a>
                                        
                                    </td>

                                </tr>
                                }
                            }

                            </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

